body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.877);
    color:rgb(184, 11, 11) ;
    }

    .div1 {
    
        color: rgb(175, 230, 230);
        position: relative;
        float: left;
        width: 25%;
        overflow: hidden;
        font-size: larger;
        margin-left: 0.5%;
    
    }

    .div2 {
        color: white;
        margin-top: -15%;
        margin-left: 40%;
        margin-bottom: 20%;
        
    }

    .imagen {
        width: 250px; 
        height: 250px;
        border-radius: 25px;
        border: rgba(111, 110, 114, 0.61) 5px solid;
        margin-left: 3%;
        margin-top: 2%;
        }   